/* BEGIN Regular */
@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Regular");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Regular");
	font-weight: normal;
	font-style: normal;
}
/* END Regular */
