@import "variables";
@import "mixins";

@import "Thin";
@import "ThinItalic";
@import "Light";
@import "LightItalic";
@import "Regular";
@import "Italic";
@import "Medium";
@import "MediumItalic";
@import "Bold";
@import "BoldItalic";
@import "Black";
@import "BlackItalic";

